<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>gd_chat</title>
    <head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css">


<script src="{{ STATIC_URL }}jquery.min.js"></script>
    <script src="{{ STATIC_URL }}main.js"></script>


    <script>
        function recieved_chat()
    {
        var element = document.getElementById("switch");
        element.innerHTML = "<ul id="+"'chat_result'"+"></ul>";
    }
        function sent_chat()
    {
        var element = document.getElementById("switch");
        element.innerHTML = "<ul id="+"'chat_result1'"+"></ul>";
    }
    </script>

</head>

<body onload="callAjax1()" onunload="setoffline()">
<div id="container">
    <div id="header">
        <table><tr><td>
        <div id="home"><a href=""><img src="{{ STATIC_URL }}gfx/home.png" alt="Online Icon" style="width:30px;height:30px"></a></div></td>
            <td><div id="username">{{ cur_user.first_name }}</div></td>
        <td><div id="logout"><a href="/logout">Logout</a></div></td></tr></table>
    </div>
    <div id="chat_type">
            <table>
                <tr>
                    <!--<td><a href="#" onclick="recieved_chat()">All Recieved Messages</a></td>
                    <td><a href="#" onclick="sent_chat()">All Sent Messages</a></td>-->
                </tr>
            </table>

        </div>
    <div id="left">
    <div id="allusers">

    </div>
    </div>

    <div id="right">

        <div id="switch">
            <ul id="chat_result">
            </ul>
        </div>
    </div>
<div id="footer">
                <br>
                   <br>
                </div>
</body>
</html>