<!DOCTYPE html>
<html>
  <head>
    <title>Django Chat Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}test-normalize.css" />
    <link href="{{ STATIC_URL }}test-main.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript"> 
      
      jsonData = {{data}};
    </script>
   <script data-main="{{ STATIC_URL }}test-main.js" type="text/javascript" src="{{ STATIC_URL }}test-require.js"></script>
    
  </head>
  <body>
    {% block body %}
    <h1>Hello, world!</h1>
    


    {% endblock body %}
   
  </body>
</html>
