<script src="{{ STATIC_URL }}jquery.min.js"></script>
    <script src="{{ STATIC_URL }}main.js"></script>



{% if msgs.count > 0 %}

    {% for msg in msgs %}
        <li id="msg-container-left">
            <div id="msg_user">{{ msg.from_user }}</div>
            <div id="msg">
                {% if msg.msg_type == "text" %}
                    {{ msg.msg }}
                {% else %}
                    <img src="{{ STATIC_URL }}{{ msg.msg }}" height="100px" width="100px"/>
                {% endif %}
            </div>
            <div id="time">Received{{ msg.msg_date }}</div>
        </li>
    {% endfor %}

{% endif %}